{% load staticfiles %}
<table class="table table-hover">
    <th>#</th>
    <th>Nazwa</th>
    <th>Status</th>
    <th>Opis</th>
    <th>Data</th>
{% for project in projects %}
    <tr class="table-row" data-href="{% url 'tracks:project_details' project.id %}">
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'tracks:project_details' project.id %}">{{ project.name }}</a></td>
        <td><span class="label {{ project.get_status_css }}">{{ project.status }}</span></td>
        <td>{{ project.description }}</td>
        <td>{{ project.date }}</td>
    </tr>
{% endfor %}
    <tr class="table-row" data-href="{% url 'tracks:project_undefined' %}">
        <td>X</td>
        <td><a href="{% url 'tracks:project_undefined' %}">Nagrania nieprzypisane</a></td>
        <td><span class="label label-default">None</span></td>
        <td>Nagrania nie przypisane do żadnego utworu</td>
        <td></td>
    </tr>
</table>