{% load staticfiles %}
<div class="table-responsive">
    <table class="table table-hover" id="playlist">
        <th>#</th>
        <th>Nagranie</th>
        <th>Utwór</th>
        <th>Próba</th>
        <th>Data</th>
    {% for track in tracks %}
        <tr data-audiourl="{% static 'audio/' %}{{ track.path }}">
            <td>{{ forloop.counter }}</td>
            <td class="track-name">{{ track.name }}</td>
            {% if track.project.id %}
                <td class="project-name"><a href="{% url 'tracks:project_details' track.project.id %}">{{ track.project }}</a></td>
            {% else %}
                <td class="project-name"><a href="{% url 'tracks:project_undefined' %}">{{ track.project }}</a></td>
            {% endif %}
            <td class="event-name"><a href="{% url 'tracks:event_details' track.event.id %}">{{ track.event }}</a></td>
            <td>{{ track.date }}</td>
        </tr>
    {% endfor %}
    </table>
</div>