{% load staticfiles %}
<audio controls="controls" id="player" preload="auto" autoplay="">
          Your browser does not support the audio element.
</audio>
<table class="table table-hover" id="playlist">
    <th>#</th>
    <th>Nagranie</th>
    <th>Utwór</th>
    <th>Próba</th>
    <th>Długość</th>
{% for track in tracks %}
    <tr data-audiourl="{% static 'audio/' %}{{ track.path }}">
        <td>{{ forloop.counter }}</td>
        <td>{{ track.name }}</td>
        {% if track.project.id %}
            <td><a href="{% url 'tracks:project_details' track.project.id %}">{{ track.project }}</a></td>
        {% else %}
            <td>{{ track.project }}</td>
        {% endif %}
        <td><a href="{% url 'tracks:event_details' track.event.id %}">{{ track.event }}</a></td>
        <td>0:00</td>
    </tr>
{% endfor %}
</table>