@import 'https://fonts.googleapis.com/css?family=Megrim';

body {
    background-image: url('../img/tileable-classic-nebula-space-patterns-6.jpg');
}

.container {
	background-color: rgba(255,255, 255, 0.8);
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Megrim', cursive;
}

audio {
    width: 100%
}

tr.active td {
    background-image: url("/static/tracks/img/equalizer.gif");
}

tr.current {
    background-color: #f5f5f5;
}

tr {
    cursor: pointer;
}
