@import 'https://fonts.googleapis.com/css?family=Megrim|Raleway';

body {
    background-image: url('../img/blurr.png');
    font-family: 'Raleway', sans-serif;
}

.container {
	background-color: rgba(255,255, 255, 0.8);
	margin-bottom: 200px;
}

.transparent-container{
    background-color: transparent;
    margin-bottom: 0px;
    padding: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Megrim', cursive;
}

.band-heading {
    font-family: 'Megrim', cursive;
    text-align: center;
    color: white;
    font-size: 55px;
    letter-spacing: 25px;
    margin-bottom: 40px;
}

audio {
    width: 100%
}

tr.active td {
    background-image: url("../img/equalizer.gif");
}

tr.current {
    background-color: #f5f5f5;
}

tr {
    cursor: pointer;
}

.footer {
    margin-top: 60px;
    width: 100%;
    background-color: #fafafa;
}

footer > .container {
    padding: 10px 10px;
    background-color: #fafafa;
    margin-bottom: 0px;
}

.span-space {
    margin-right: 25px;
    display: inline-block;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/blurr.png') no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 480px) {
    video#bgvid { display: none; }
}